{% extends '../dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="page-header1">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="page-header-title">
                    <h5 class="m-b-10 m-t-4 m-l-4">Deduction Codes Management</h5>
                    <p class="m-b-0"></p>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="breadcrumb">
                    {% comment %} <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li> {% endcomment %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'batch:code_registration' %}" class="btn waves-effect waves-light btn-success"><i class="icofont icofont-check-circled"></i>Add New Deduction Code</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Hover table card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Deduction Codes</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                            <li><i class="fa fa-window-maximize full-card"></i></li>
                            <li><i class="fa fa-minus minimize-card"></i></li>
                            <li><i class="fa fa-refresh reload-card"></i></li>
                            <li><i class="fa fa-trash close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr style="background-color:#5A72FE;">
                                    <th></th>
                                    <th style="color:white;">Deduction Code</th>
                                    <th style="color:white;">Company</th>
                                    <th style="color:white;">Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for code in codes %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{code.deduction_code}}</td>
                                        <td>{{code.company.name}}</td>
                                        <td>{{code.currency}}</td>
                                    </tr>
                                {% empty %}
                                    <p>No deduction codes available yet.</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Hover table card end -->
        </div>
        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->

{% endblock body %}