{% extends '../dashboard/base.html' %}
{% block body %}
<div class="page-header1">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <br>
                    <h5 style="text-align:center;" class="m-b-10 m-t-4 m-l-4">USER MANAGEMENT</h5>
                    <p class="m-b-0"></p>
                    <hr>
                </div>
            </div>
            {% comment %} <div class="col-md-5">
                <ul class="breadcrumb">
                    {% comment %} <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <button class="btn waves-effect waves-light btn-primary"><i class="icofont icofont-user-alt-3"></i>New Record</button>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'record:upload' %}" class="btn waves-effect waves-light btn-success"><i class="icofont icofont-check-circled"></i>Import Bulk Records</a>
                    </li>
                </ul>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    {% comment %} <div class="col-md-1"></div> {% endcomment %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add New User</h5>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <div style="text-align:center;" data-from="top" data-icon="fa fa-comments" data-align="center" class="alert alert-danger" role="alert">
                                                    {{ field.errors|striptags }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                          {% endif %}
                            <div class="card-block">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label class="float-label">First Name <span style="color:red;">*</span></label>
                                            {{form.first_name}}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="float-label">Last Name<span style="color:red;">*</span></label>
                                            {{form.last_name}}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="float-label">Username<span style="color:red;">*</span></label>
                                            {{form.username}}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="float-label">Email Address<span style="color:red;">*</span></label>
                                            {{form.email}}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="float-label">Password<span style="color:red;">*</span></label>
                                            {{form.password1}}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="float-label">Confirm Password<span style="color:red;">*</span></label>
                                            {{form.password2}}
                                        </div>
                                        
                                    </div>
                                    <div style="text-align:center;">
                                        <button class="btn btn-primary waves-effect waves-light">Add User</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-1"></div> {% endcomment %}
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
    <!-- Main-body end -->
</div>
{% endblock body %}