{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Prosperity Partners</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Prosperity Partners" />
	<meta name="keywords" content="Prosperity Partners">
	<meta name="author" content="twilight technologies" />

	<!-- Favicon icon -->
	<link rel="icon" href="{% static 'login/images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'login/fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'login/plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="card-body">
						<h3 style="text-align:center;">Welcome To Prosperity Partners</h3>
						<hr>
						<br>
						{% if form.errors %}
							<p style="text-align:center;" class="alert alert-danger">Incorrect Username and or Password.</p>
							{% for field in form %}
								{% if field.errors %}
									<div style="text-align:center;" data-from="top" data-icon="fa fa-comments" data-align="center" class="alert alert-danger" role="alert">
										{{ field.errors|striptags }}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
						{% comment %} <img src="{% static 'login/images/logo-dark.png' %}" alt="" class="img-fluid mb-4"> {% endcomment %}
						<h4 class="mb-3 f-w-400">Login into your account</h4>
						<form method="post">{% csrf_token %}
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-user"></i></span>
								</div>
								{{form.username}}
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="feather icon-lock"></i></span>
								</div>
								{{form.password}}
							</div>
							
							<div class="form-group text-left mt-2">
								<div class="checkbox checkbox-primary d-inline">
									<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
									<label for="checkbox-fill-a1" class="cr"> Save credentials</label>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mb-4">Login</button>
							<p class="mb-2 text-muted">Forgot password? <a href="#" class="f-w-400">Reset</a></p>
							<p class="mb-0 text-muted">Don’t have an account? <a href="#" class="f-w-400">Signup</a></p>
						</form>
					</div>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<img src="{% static 'login/images/auth-bg.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
<script src="{% static 'login/js/vendor-all.min.js' %}"></script>
<script src="{% static 'login/plugins/bootstrap/js/bootstrap.min.js' %}"></script>


<div class="footer-fab">
    <div class="b-bg">
        <i class="fas fa-question"></i>
    </div>
    <div class="fab-hover">
        <ul class="list-unstyled">
            <li><a href="#" target="_blank" data-text="UI Kit" class="btn btn-icon btn-rounded btn-info m-0"><i class="feather icon-layers"></i></a></li>
            <li><a href="#" target="_blank" data-text="Document" class="btn btn-icon btn-rounded btn-primary m-0"><i class="feather icon feather icon-book"></i></a></li>
        </ul>
    </div>
</div>


</body>

</html>
