{% extends './base.html' %}
{% block body %}
<div class="page-header1">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="page-header-title">
                    <h5 class="m-b-10 m-t-4 m-l-4">Records Management</h5>
                    <p class="m-b-0"></p>
                </div>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    {% comment %} <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li> {% endcomment %}
                    <li class="breadcrumb-item">
                        <button class="btn waves-effect waves-light btn-primary"><i class="icofont icofont-user-alt-3"></i>New Record</button>
                    </li>
                    <li class="breadcrumb-item">
                        <button class="btn waves-effect waves-light btn-success"><i class="icofont icofont-check-circled"></i>Import Bulk Records</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    {% comment %} <div class="col-md-1"></div> {% endcomment %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Upload Batch</h5>
                            </div>
                            <div class="card-block">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Deduction Code</label>
                                        <div class="col-sm-6">
                                            <select name="select" name="deduction_code" class="form-control">
                                                <option value="opt1"  disabled>Choose Deduction Code</option>
                                                {% for code in codes %}
                                                    <option value={{code.id}}>{{code}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Select Batch File</label>
                                        <div class="col-sm-10">
                                            <input type="file" name="batch_file" class="form-control">
                                        </div>
                                    </div>
                                    <div style="text-align:center;">
                                        <button class="btn btn-primary waves-effect waves-light">Upload Batch</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
    <!-- Main-body end -->
</div>
{% endblock body %}